* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.her {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #010758, #490d61);
    background-attachment: fixed;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 40px;
}

.logo {
    color: #fff;
    font-size: 28px;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.logo a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

span {
    color: #ff2963;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff2963;
    text-decoration: underline;
}

button {
    border: none;
    background-color: #ff2963;
    padding: 12px 30px;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    transform: scale(1.1);
}

body {
    background: linear-gradient(45deg, #010758, #490d61);
    color: #fff;
}

.container {
    margin: 12%;
    /* margin-top: 5%; */
    width: 80%;
    max-width: 700%;
}

.display {
    width: 75%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #403d84;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 10px;
}

.container h1 {
    font-weight: 500;
    font-size: 24px;
    margin-top: -10%;
}

.display button {
    width: 25%;
    height: 50px;
    background-color: #ff2963;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 20px;
    background: #403d84;
    color: #fff;
   
}

#generate {
    border: 0;
    outline: 0;
    background: #ff2963;
    color: #fff;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20x;
}

select::after {
    padding: 0px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #403d84;
}

::-webkit-scrollbar-thumb {
    background: #ff2963;
    border-radius: 3px;
}