* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.her {
    /* background: linear-gradient(45deg, #010758, #490d61); */
    display: block;
    width: 100%;
    margin-top: 0;
    height: 100vh;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #010758, #490d61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.hero h1 {
    font-size: 45px;
    font-weight: 500;
    margin-top: -35%;
    margin-bottom: 50px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 40px;
}

.logo {
    color: #fff;
    font-size: 28px;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.logo a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

span {
    color: #ff2963;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff2963;
    text-decoration: underline;
}

button {
    border: none;
    background-color: #ff2963;
    padding: 12px 30px;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    transform: scale(1.1);
}

textarea {
    width: 600px;
    height: 250px;
    background: #403d84;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 20px;
    resize: none;
    margin-bottom: 30px;
}

textarea::placeholder {
    font-size: 16px;
    color: #ddd;
}

.row {
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#listen {
    margin-bottom: 17%;
    background: #ff2963;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 15px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

select {
    flex: 1;
    color: #fff;
    background: #403d84;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    margin-bottom: 17%;
}

select::after {
    padding: 0px;
}