.to-do-list {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 67px;
}

h1 {
    font-size: 2.68rem;
}

button {
    font-size: 1.14rem;
    font-weight: bold;
    padding: 6.7px 13.4px;
    color: white;
    border: none;
    border-radius: 3.35px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.add-button {
    background-color: hsl(125, 47%, 54%);
}
.add-button:hover {
    background-color: hsl(125, 47%, 44%);
}
.delete-button {
    background-color: hsl(10, 90%, 50%);
}
.delete-button:hover {
    background-color: hsl(10, 90%, 40%);
}
.move-button {
    background-color: hsl(207, 90%, 64%);
}
.move-button:hover {
    background-color: hsl(207, 90%, 54%);
}

input[type="text"] {
    font-size: 1.07rem;
    padding: 6.7px;
    border: 1.34px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 3.35px;
    color: hsla(0, 0%, 0%, 0.5);
}

ol {
    padding: 0px;
}

li {
    font-size: 1.34rem;
    font-weight: bold;
    padding: 10px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 6.7px;
    border: 2px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 3.35px;
    display: flex;
    align-items: center;
}

.text {
    flex: 1;
}

.delete-button, .move-button {
    padding: 5.36px 8px;
    font-size: 0.94rem;
    margin-left: 6.7px;
}
